{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="row">
            <div class="col-xl-4 col-xxl-6">
                <h1>Internet library catalog</h1>
                <p class="text-secondary">MyBookStore connects you to the collections of more than 10,000 libraries worldwide</p>
            </div>
            <div class="col-xxl-6 offset-xxl-0"><label class="form-label" for="searchinput">search by title:</label>
                <form action="{% url 'search_results' %}" method="get">
                    <input type="search" name="q" id="searchinput" class="form-control" placeholder="search">
                </form>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            {% for book in object_list %}
            <div class="col-xxl-3" style="padding-top:1rem;">
                <div class="card shadow">
                    <div class="card-body text-truncate">
                        <h4 class="card-title">{{book.title}} ({{book.date.year}})</h4>
                        <h6 class="text-secondary card-subtitle mb-2" style="padding-bottom: 3rem;">{{book.author}}</h6>
                                                {% if user.is_authenticated %}
                            {% if book.user.username != user.username and book.user.username is not null  %}
                                borrowed by {{book.user.username}}
                            {% elif book.user.username == user.username %}
                                borrowed by you
                            {% else %}
                                <a class="card-link" href="{% url 'addtolist' book.id %}" style="text-decoration: none;">borrow</a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if object_list|length > 0 %}
            <div class="pagination col" style="margin-top:1rem;">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" style="text-decoration: none;">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: none;">previous</a>
                    {% endif %}

                <span class="current">
                    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: none;">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }} " style="text-decoration: none;">last &raquo;</a>
                {% endif %}
                </span>
            </div>
        </div>
        {% endif %}
{% endblock %}