{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="row">
            <div class="col-xl-4 col-xxl-6">
                <h1>My books</h1>
                <p class="text-secondary">books you've added to your list</p>
            </div>
            <div class="col-xxl-6 offset-xxl-0">
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            {% for book in object_list %}
            <div class="col-xxl-3" style="padding-top:1rem;">
                <div class="card shadow">
                    <div class="card-body text-truncate">
                        <h4 class="card-title">{{book.title}} ({{book.date.year}})</h4>
                        <h6 class="text-secondary card-subtitle mb-2" style="padding-bottom: 3rem;">{{book.author}}</h6>
                        {% if user.is_authenticated %}
                        <a class="card-link" href="{% url 'removefromlist' book.id %}" style="text-decoration: none;">return</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if object_list|length > 0 %}
            <div class="pagination col" style="margin-top:1rem;">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" style="text-decoration: none;">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: none;">previous</a>
                    {% endif %}

                <span class="current">
                    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: none;">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }} " style="text-decoration: none;">last &raquo;</a>
                {% endif %}
                </span>
            </div>
        </div>
        {% endif %}
{% endblock %}