{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="row">
            <div class="col-lg-8 col-xl-6 col-xxl-6 offset-lg-2 offset-xl-3 offset-xxl-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">return the book?</h4>
                        <form method="post">
                            {% csrf_token %}
                            <div class="btn-group" role="group"><button class="btn btn-primary" type="submit">yes</button><button class="btn btn-secondary">back</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}